.login {
    bottom: 0;
    height: 350px;
    margin-top: 50vh;
    transform: translate(0px, -50%);
    /* bring your own prefixes */
    padding: 10px 0px;
}

.form-login {
    padding: 20px 20px;
    height: 80%;
}

.body {
    overflow: hidden;
    background: url('../img/loginBg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.input-userpass {
    margin: 20px 0px;
}

.input-userpass .input-group {
    margin-bottom: 5px;
}

.remember {
    margin-bottom: 10px;
}

#dashboard {
    height: 100vh;
}

#side {
    min-height: 100vh;
    overflow-y: scroll;
    position: fixed;
    padding: 0;
}

#board {
    padding-left: 0px;
    padding-right: 0px;
}

#side-logo {
    padding: 10px;
    height: 150px;
}

.menu-item {
    border: 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

#container-board {
    padding: 20px;
    min-height: 100vh;
}

#brand {
    border: 0;
}

.box-border {
    height: 150px;
    cursor: pointer;
    transition: .1s;
}

.box-border h5 {
    vertical-align: middle;
    margin-top: 50px;
}

.box-border:hover {
    transform: scale(1.05, 1.05);
    z-index: 99;

}

.soal {
    padding-bottom: 60px;
}

.pertanyaan {
    font-size: 3.0vw;
}

.ujian-body {
}

.border {
    border:1px solid #bbb;
}

.answer {
}

.jawaban input[type="radio"] {
  display: none;
}

.jawaban input[type="radio"] + label {
  color: #4c4c4c;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.jawaban input[type="radio"] + label span {
  box-shadow: 0 0 0 2px #cccccc;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -1px 7px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.jawaban input[type="radio"] + label span {
  border: 4px solid #ffffff;
  background-color: #ffffff;
}

.jawaban input[type="radio"]:checked + label span {
  background-color: #0277bd;
}

.arrow button {
    border-radius: 10em;
}

.status {
}

#sidebar {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 0px;
}

#side-wrapper {
    padding-left: 40px;
    transition: all 0.5s ease;
}

#side-wrapper #sidebar {
    width: 40px;
    transition: all 0.5s ease;
}

#side-wrapper.side-on {
    padding-left: 250px;
}

#side-wrapper.side-on #sidebar {
    width: 250px;
}

#main {
    padding: 16px;
}

.info-dashboard {
    height: 150px;
    cursor: pointer;
}
.info-dashboard .info-text {
    margin-top:30px;
    padding: 10px;
}

.info-dashboard .info-icon {
    margin-top: 15px;
    margin-right: 5px;
    float: right;
}

#side-wrapper #sidebar .menu-title {
    display: none;
}

#side-wrapper #sidebar .nav-link {
    padding-left: 10px!important;
}

#side-wrapper.side-on #sidebar .menu-title {
    display: inline-block;
}

.border-success {
    border: 1px solid #00C851;
}

.border-danger {
    border: 1px solid #ff4444;
}

.border-warning {
    border: 1px solid #ffbb33;
}

.border-info {
    border: 1px solid #33b5e5;
}

.kelas-detail {
    height: 150px;
    cursor: pointer;
}

.kelas-detail .jumlah-siswa {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: block;
    margin: auto;
    background: rgba(22, 22, 22, 0.5);
    display: none;
}

.kelas-detail:hover .jumlah-siswa {
    display: block;
}
